<!DOCTYPE html>
<html ng-app="pwc">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        XML {
            display: none;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/x2js/xml2json.js"></script>
    <script src="bower_components/showModalDialog.js"></script>
    <link id="styles" href="styles.css" rel="stylesheet" type="text/css">
    <script src="polyfill.js"></script>
  </head>
<body onload="fnDBBillingCashByPtr_OnLoad()">
<XML id="xml">
</XML>
<textarea onpaste="paste(this)">
</textarea>

<button ng-click="openModal()">open modal</button>
<table datasrc="#xml" id="level1">
    <tbody>
    <tr>
        <td>
            <table datasrc="#xml" datafld="Alert" id="level2">
                <tbody>
                <tr>
                    <td>
                        <img datafld="ImageUrl" ng-src="ds.ImageUrl">
                    </td>
                    <td>
                        <table datasrc="#xml" datafld="WebLink" id="level3">
                            {{ds}}
                            <tbody>
                            <tr>
                                <td>
                                    <div datafld="Link"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

        </td>
    </tr>
    </tbody>
</table>
<button ng-click="reload()">Reload</button>
</body>
</html>